@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: Terminal;
  src: url(../public/fonts/BigBlueTerm437NerdFont-Regular.ttf);
}

@media (prefers-olor-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
